@font-face {
 font-family: apl;
 src: url(apl385.ttf) format("truetype");
}

body {
 font-family: apl;
 font-size: 20px;
}

span {
 font-family: apl;
 font-size: 20px;
}

td {
 font-family: apl;
 font-size: 18px;
}

center {
 font-family: apl;
 font-size: 18px;
}